.registerSection{
	position:fixed;
    top: 45%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.registerContent {
	border: 1px solid #ccc;
    background-color: #f3f3f3;
}

table {
  border-collapse:separate;
  border-spacing:55px 20px;
}

font {
	color: #2B669A;
	font-size: 28pt;
	font-weight: bold;
}